fastapi
uvicorn
langchain>=1.0.0
langchain-core>=1.1.0
langchain-community>=0.3.0
langchain-classic>=1.0.0
langchain-text-splitters>=1.0.0
langchain-chroma>=0.1.0
langchain-google-genai>=1.0.0
pypdf
python-dotenv
chromadb
reportlab
langchain_experimental
